<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="json.config.plugin" version="1">
    <about>
        <name>JSON Configuration Plugin</name>
        <version>PLUGIN_VERSION_NUMBER</version>
        <target-go-version>GO_TARGET_VERSION_NUMBER</target-go-version>
        <description>
            Configuration plugin that supports Go configuration in JSON
        </description>
        <vendor>
            <name>Tomasz Setkowski</name>
            <url>https://github.com/tomzo/gocd-json-config-plugin</url>
        </vendor>
    </about>
</go-plugin>
